# backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/uploads/
**/__pycache__/
*.pyc
*.pyo

# frontend
frontend/node_modules/
frontend/dist/

# env
.env
*.env

# system
.DS_Store

# database
backend/*.db

# uploads
backend/uploads/